services:
  app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./web/.env
    volumes:
      - ./web:/app
      - node_modules:/app/node_modules
    depends_on:
      - mongo
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - MONGODB_URI=mongodb://mongo:27017/leeds-hack

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  node_modules:
